@charset "UTF-8";

.info {
    display: flex;
    margin:20px auto 40px auto;
}

.info img, .info p{
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.info a {
    text-align: center;
    display: block;
    margin: 50px auto 0 auto;
    color: black;
    width: 70%;
    border-radius: 10px;
    background: linear-gradient(180deg, #f4f4f4, rgba(230, 120, 80, 0.8));
    border: 1px solid #999999;
}

/* iPadProレスポンシブ */
@media screen and (max-width: 1024px) {
    .article_main {
        width: 100%;
    }
    .info  a{
        width: 100%;
        padding: 10px 20px;
        margin-top: 20px;
    }
}

/* iPadレスポンシブ */
@media screen and (max-width: 768px){
    .info {
        display: inline-block;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    .info img, .info p {
        width: 90%;
        margin: 20px auto;
    }

    .info img {
        height: 280px;
    }

    .info p {
        text-align: left;
    }
}

/* iPhoneXレスポンシブ */
@media screen and (max-width: 480px){
    .info img {
        height: 180px;
    }
}
