@charset "UTF-8";

.article_inner .how, .menu, .time, .group{
    width: 80%;
    margin: 0 auto;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu_item {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
}

.menu_item img {
    width:  98%;
    height: 180px;
}

.menu_item p {
    font-size: 18px;
    padding: 15px 0 30px 0;
}

.group {
    text-align: center;
    display: flex;
}

.group img {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.group_description {
    margin: 0 auto;
    width: 45%;
}

.group_description .txt {
    text-align: left;
}

.group_description p:nth-of-type(2){
    padding-top: 20px;
}

.group_description a{
    display: block;
    margin: 10px auto 0px auto;
    color: black;
    width: 75%;
    border-radius: 15px;
    background: linear-gradient(180deg, #f4f4f4, rgba(230, 120, 80, 0.8));
    border: 1px solid #999999;
}

/* iPad Proレスポンシブ */
@media screen and (max-width: 1024px){
    .menu , .group{
        width: 90%;
    }

    .menu_item {
        width: 50%;
    }

    .group {
        display: block;
    }

    .group img {
        width: 80%;
    }

    .group_description {
        width: 80%;
        margin: 30px auto;
    }
    
    .txt {
        padding-bottom: 30px;
    }

    .group_description a {
        margin-top: 30px;
        width: 60%;
        padding: 20px 0;
    }
}


/* iPad レスポンシブ */
@media screen and (max-width: 768px){
    .time p{
        width: 60%;
        margin: 0 auto 0 0;
    }
}

/* SurfaceDuoレスポンシブ */
@media screen and (max-width: 540px){
    .time p{
        width: 80%;
        margin: 0 auto 0 0;
    }
    .menu_item {
        width: 100%;
    }

    .menu_item img {
        height: 250px;
    }

    .group_description a {
        width: 70%;
    }
}

/* iPhoneXレスポンシブ */
@media screen and (max-width: 480px){
    .time p{
        width: 100%;
        margin: 0 auto 0 0;
    }

    .menu_item img {
        height: 160px;
    }

    .group {
        width: 100%;
    }

    .group_description {
        font-size: 14px;
    }

    .group_description p:not(.txt){
        font-size: 12px;
    }

    .group_description a {
        width: 80%;
    }
}
